<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scrollview">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListActivity"
            android:label="随手记"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".otherActivity.VideoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="视频"/>
        <activity android:name=".otherActivity.PhotoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="图片"/>
        <activity android:name=".otherActivity.DrawActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="涂鸦"/>
        <activity android:name=".otherActivity.MusicActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="音乐"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="">

        </activity>
    </application>

</manifest>